body{
margin: 20px;
font-size:20px;
background-color: rgb(218, 220, 236);
font-family:Georgia, 'Times New Roman', Times, serif;
color: rgb(41, 42, 58);


}

.a{
    width:25%;
    float: left;
    margin-top: 10px;
    
}

.b{

margin-left: 300px;
    margin-top: 10px;
    
}
.fizetes{
    text-align: center;
}

input{
    border-radius: 6px;
    background-color: rgb(238, 238, 252);
    padding: 10px;
    border-color: rgb(152, 156, 207);
}

input:hover{
    border-color:rgb(113, 116, 153);

}
input:focus{
    outline: none;
    border-color:rgb(113, 116, 153) ;
    
}
button{
    border-radius: 6px;
    background-color: rgb(236, 236, 252);
    padding: 5px;
    font-size: 15px;
    margin-top: 10px;
    border-color: rgb(152, 156, 207);
    color: rgb(41, 42, 58)
}

button:hover{
    
    background-color: rgb(196, 196, 219);
}

button:active {
    background-color: rgb(170, 170, 204);
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    
  }

  #szoveg{
  
text-align: center;
font-size: medium;
    color: red;
    
    

  }

  #asd{
 margin: auto;
 width: fit-content;
  }